<!DOCTYPE html>
<html lang="pl">
<head>
    <title layout:title-pattern="$CONTENT_TITLE"></title>
    <link th:replace="/fragments/style"/>
    <meta charset="UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"/>
    <script src="/js/cartController.js"></script>
</head>
<body>
<div th:replace="/fragments/header"/>
<div class="container">
    <div layout:fragment="content"></div>
    <div th:replace="/fragments/footer"></div>
    <div th:replace="/fragments/js"></div>
    <div layout:fragment="script"></div>
</div>
</body>
</html>